include ../partials/_variables
include ../partials/_mixins

- var suffix = production ? '.min' : '';

doctype html
html(lang='ru')

    block variables
        - var title = defaultPageTitle;

    block head
        head
            meta(name='format-detection', content='telephone=no')
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
            // favicon
            link(rel="apple-touch-icon", sizes="76x76", href="http://incoming.dinadis.ua/wp-content/themes/dinadis/static/img/favicon/apple-touch-icon.png")
            link(rel="icon", type="image/png", sizes="32x32", href="http://incoming.dinadis.ua/wp-content/themes/dinadis/static/img/favicon/favicon-32x32.png")
            link(rel="icon", type="image/png", sizes="16x16", href="http://incoming.dinadis.ua/wp-content/themes/dinadis/static/img/favicon/favicon-16x16.png")
            link(rel="manifest", href="http://incoming.dinadis.ua/wp-content/themes/dinadis/static/img/favicon/site.webmanifest")
            link(rel="mask-icon", href="http://incoming.dinadis.ua/wp-content/themes/dinadis/static/img/favicon/safari-pinned-tab.svg", color="#5bbad5")
            // favicon
            meta(name="msapplication-TileColor", content="#ffffff")
            meta(name="theme-color", content="#ffffff")
            title= title
            link(href='static/css/index.css', rel='stylesheet')
            link(rel='icon', href='static/favicon.ico')

    block body
        body
            // SVG
            block svg
                div.svg-container(style="position: absolute; width: 0; height: 0; overflow: hidden;")
                    include ../partials/_sprite.svg

            // picture element HTML5 shiv
            block inlineScripts
                script.
                  document.createElement('picture');

            // Header
            block header
                +header()

            // Main content
            block main
                main

            // Footer
            block footer
                +footer('')

            // Scripts
            block scripts 
                script(src='static/js/index.jquery' + suffix + '.js')
                script(src='static/js/index' + suffix + '.js')