.contact-form
  min-height: calc(100vh - 80px)
  background-color: $dark
  h3
    color: $white-color
    text-align: center
    padding-top: 80px
.white-form
  background-color: $milk
  h3
    color: $dark
  h4
    color: $dark
    text-align: center
    padding-top: 20px