.container
  width: 1000px
  position: relative
  margin: 0 auto
  max-width: 100%
  +res('tab')
    width: 100%
    padding: 0 15px
  +res('mob')
    width: 100%
    padding: 0 10px
.container-dots
  width: 1000px
  max-width: 100%
  position: absolute
  left: 50%
  bottom: 0
  transform: translateX(-50%)
  z-index: 2
  +res('tab')
    width: 100%
    padding: 0 15px
  +res('mob')
    width: 100%
    padding: 0 10px