@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-CondensedBold.eot');
  src: url('../fonts/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-CondensedBold.woff') format('woff'),
  url('../fonts/DINPro-CondensedBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoRegular.woff') format('woff'),
    url('../fonts/RobotoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}