.icon-arrow-down {
  width: 0.8em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-arrow-next {
  width: 1.25em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-arrow-prev {
  width: 1.25em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-cross {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-logo {
  width: 3.75em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-play-video {
  width: 0.88em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-vintage-logo {
  width: 0.73em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
