//fonts
//font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit


//colors from hovermap
$main-color: #588acb;
$title-color: #212121;
$text-color: #767676;
$white-color: #ffffff;
$milk: #f8f8f8;
$dark: #111111;
//colors for project
$title: 'DINPro';
$text: 'Roboto-Regular'

//other variables