mixin filter-items($img, $title, $p)
    a(href='').filter-content__item
        .filter-img
            img(src= $img)
        .filter-title
            h4= $title
        .filter-desc
            p= $p