mixin filter-items($img, $title, $p, $subClass)
    a(href='').filter-content__item(class= $subClass)
        .filter-img
            img(src= $img)
        .filter-title
            h4= $title
        .filter-desc
            p= $p