mixin footer($class)
    footer(class= $class)
        .container
            .left
                p
                    |Let’s talk -
                    a(href='mailto:office@dinadis.ua') office@dinadis.ua
            .center
                p © 2018 DINADIS. All rights reserved.
            ul.right
                li.link-bottom-line
                    a(href='#') Facebook
                li.link-bottom-line
                    a(href='#').link-bottom-line LinkedIn