mixin header()
    header.header
        .container
            .flex-wrapper
                .logo-wrapper
                    a(href='#')
                        +svg('logo', 'logo')
                .lang-wrapper.link-bottom-line
                    a(href='#') на русском
                ul.nav
                    li.active.link-bottom-line
                        a(href='#') home
                    li.link-bottom-line
                        a(href='#').services-btn services
                        ul.dropdown
                            li
                                a(href='/category/tours') tours
                            li
                                a(href='/category/hotels') hotels
                            li
                                a(href='/category/excursions') excursion
                            li
                                a(href='/category/transport') transport service
                    li.link-bottom-line
                        a(href='#').contact-us-btn contact us
                .burger
                    i
                    i
                    i
                    i